<!DOCTYPE html>
<html>
  <head>
    <title>Video testing</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='stylesheets/style.css') }}"
    />
  </head>
  <body>
    <div id="loader" class="cover">
      <div class="showbox">
        <div class="loader">
          <svg class="circular" viewBox="25 25 50 50">
            <circle
              class="path"
              cx="50"
              cy="50"
              r="20"
              fill="none"
              stroke-width="2"
              stroke-miterlimit="10"
            />
          </svg>
        </div>
      </div>
    </div>

    <div id="home">
      <div class="text-container">
        <div>
          <h1 style="font-size: 100px">COVID-19</h1>
          <h3 style="font-size: 40px">INITIATIVE</h3>
        </div>
        <br /><br /><br />
        <h1 id="subheading">App for Social Distancing Monitoring</h1>
      </div>
    </div>

    <div class="container my-5">
      <h3 class="heading3">V-App and Cisco Meraki are here to help</h3>

      <p class="intro-para">
        Social-distancing is an important way to slow down the spread of
        infectious diseases. People are asked to limit their interactions with
        each other, reducing the chances of the disease being spread with
        physical or close contact.
      </p>

      <h3 class="left-border-blue">
        We have just launched a
        <strong>COVID-19 Social Distancing Monitoring </strong> application on
        V-App to help our customers to get through this difficult time.
      </h3>

      <img
        src="https://miro.medium.com/max/2000/1*OVP9aXG5g-USN5TcFih--A.png"
        width="100%"
        height="100%"
      />
    </div>

    <div class="goal-box">
      <h3 class="heading3 goal-heading">Our Project's Goal</h3>
      <ol class="list">
        <li class="item">
          <h2 class="headline">Number one</h2>
          <span
            >Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Veritatis, distinctio ad corporis, laboriosam unde provident,
            architecto tenetur ea odio debitis delectus explicabo eum obcaecati
            vitae facere iusto laborum consequuntur neque.</span
          >
        </li>
        <li class="item">
          <h2 class="headline">Number two</h2>
          <span
            >Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Veritatis, distinctio ad corporis, laboriosam unde provident,
            architecto tenetur ea odio debitis delectus explicabo eum obcaecati
            vitae facere iusto laborum consequuntur neque.</span
          >
        </li>
        <li class="item">
          <h2 class="headline">Number three</h2>
          <span
            >Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Veritatis, distinctio ad corporis, laboriosam unde provident,
            architecto tenetur ea odio debitis delectus explicabo eum obcaecati
            vitae facere iusto laborum consequuntur neque.</span
          >
        </li>
      </ol>
    </div>

    <div class="container-bg">
      <div class="container my-5 form-box">
        <h3 class="heading4">Social Distancing Detector</h3>
        <br />

        <!--    <h3 class="left-border-blue">
          Upload a video on which social distancing detection has to be done.
          Choose the corresponding dataset to get the desired results.
        </h3> -->

        <div id="form-container">
          <form
            id="form"
            action="http://localhost:5000/uploader"
            method="POST"
            enctype="multipart/form-data"
            novalidate
          >
            <div class="form-group mb-3">
              <label for="vid" class="col-md-12 px-0"
                >Choose Video to Analyse</label
              >
              <div class="col-md-6 px-0">
                <div class="custom-file">
                  <input
                    type="file"
                    class="custom-file-input"
                    id="video"
                    name="file"
                    accept="video/*"
                    required
                  />
                  <label class="custom-file-label" for="validatedCustomFile">
                    Select video
                  </label>
                  <div class="invalid-feedback">Video required!</div>
                </div>
              </div>
            </div>

            <div class="form-group mb-3">
              <label for="dataset" class="col-md-12 px-0"
                >Choose location of the submitted video</label
              >
              <div class="col-md-6 px-0">
                <select
                  class="custom-select"
                  id="dataset"
                  name="dataset"
                  required
                >
                  <option value="">Choose Location</option>
                  <option value="grand_central">Grand Central</option>
                  <option value="mall">Mall</option>
                  <option value="oxford_town">Oxford Town</option>
                </select>
                <div class="invalid-feedback">Dataset required!</div>
              </div>
            </div>

            <input id="submit" type="submit" class="btn btn-primary" />
          </form>
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='javascript/script.js') }}"></script>
  </body>
</html>
