<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
  </head>
  <body>
    <h1>{{data}}</h1>

    <video width="320" height="240" controls>
      <source src="{{ data }}" type="video/mp4" />
      Your browser does not support the video tag.
    </video>

    <h1>Analysis Results</h1>
    <h3>2D histograms of the social density versus the average closest physical distance</h3>
    <img src="">
    <h3>2D histograms of the social density versus the minimum closest physical distance</h3>
    <img src="">
    <h3>2D histograms of the social density versus the number of social distancing violations</h3>
    <img src="">

    <!-- add tooltip -->
    <h3>Linear regression (red line) of the social density versus number of social distancing violations v data</h3>
    <img src="">
    <h3>The change of minimum closest physical distance, average closest physical distance, and the social density over time</h3>
    <img src="">

    <h3>Closest Distance versus Count</h3>
    <img src="">
    <h3>Minimum Closest Distance versus Count</h3>
    <img src="">
  </body>

  <script>
    console.log("{{ data }}");
  </script>

</html>
